<h1> Companies Management page </h1>
<br>
<div class="container">
    <form class="form-horizontal" name="myForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="useremail">UserEmail:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="useremail" placeholder="Enter UserEmail" name="useremail" ng-model="useremail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <span class="hint" ng-show="!myForm.useremail.$error.required" style="color:red">Hint: abc@gmail.com</span>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fax">FaxNo:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="fax" placeholder="Enter FaxNo" name="fax" ng-model="fax" pattern="[0-9]{5}" required>
                <span class="hint" ng-show="!myForm.fax.$error.required" style="color:red">Hint: FaxNo should be 5 digit</span>
            </div>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.registrationNo.$touched && myForm.registrationNo.$invalid}">
            <label class="control-label col-sm-2" for="registrationNo">RegistrationNo:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="registrationNo" placeholder="Enter RegistrationNo" name="registrationNo" ng-model="registrationNo" pattern="[0-9]{7}" required>
                <span class="hint" ng-show="!myForm.registrationNo.$error.required" style="color:red">Hint: RegistrationNo should be 7 digit</span>

            </div>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.companyname.$touched && myForm.companyname.$invalid}">
            <label class="control-label col-sm-2" for="companyname">CompanyName:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="companyname" placeholder="Enter CompanyName" name="companyname" ng-model="companyname" required>
                <span class="hint" ng-show="!myForm.companyname.$error.required" style="color:red">Hint: CompanyName is required</span>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="addcompany()" ng-disabled="myForm.$invalid || myForm.$pristine">Addcompany</button>
                <button type="submit" class="btn btn-default" ng-click="updatecompany()" ng-if="value" ng-disabled="myForm.$invalid || myForm.$pristine">Updatecompany</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered" ng-if="companieslist[0].length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserEmail</th>
            <th>Fax</th>
            <th>RegistrationNo</th>
            <th>Status</th>
            <th>CompanyName</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key,value) in companieslist[0]">
            <td>{{value._id}}</td>
            <td>{{value.companyInfo.userInfo.userEmail[0]}}</td>
            <td>{{value.companyInfo.fax}}</td>
            <td>{{value.companyInfo.registrationNo}}</td>
            <td>{{value.companyInfo.status}}</td>
            <td>{{value.companyName}}</td>
            <td><button class="btn" id="delete" ng-click="remove(value._id)"><i class="fa fa-close"></i> Delete</button></td>
            <td><button class="btn" id="edit" ng-click="edit(value._id)"><i class="fa fa-pencil"></i> Edit</button></td>
            <td><button class="btn" id="deactivate" ng-click="deactivate(value._id)"><i class="fa fa-window-close"></i> Deactivate</button></td>
        </tr>
    </tbody>
</table>
</div>

<br>
<a href="#!user" class="btn btn-info" role="button">User Page</a>